<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <% if flash[:alert] %>
      <div class="py-3 px-5 bg-red-100 text-red-800 rounded-lg mb-4">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="py-3 px-5 bg-green-100 text-green-800 rounded-lg mb-4">
        <%= flash[:notice] %>
      </div>
    <% end %>


    <%= render @topping %>

    <%= link_to "Edit this topping", edit_topping_path(@topping), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to toppings", toppings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this topping", @topping, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
